// Variables
$Green-500: hsl(158, 36%, 37%);
$Green-700: hsl(158, 42%, 18%);
$Black: hsl(212, 21%, 14%);
$Grey: hsl(228, 12%, 48%);
$Cream: hsl(30, 38%, 92%);
$White: hsl(0, 0%, 100%);

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Base styles
body {
  background-color: $Cream;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  font-family: "Fraunces", serif;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $White;
  border-radius: 10px;
  max-width: 370px;

  .image-section {
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }
  }

  .details-section {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: $Black;
    p {
      font-family: "Montserrat";
      color: $Grey;
      font-size: 0.9rem;
      line-height: 20px;
      font-weight: 500;
    }

    .category {
      font-size: 0.75rem;
      letter-spacing: 2px;
    }

    .title {
      line-height: 1.2;
    }
  }
}

.prices {
  display: flex;
  align-items: center;
  .final-price {
    font-size: 2rem;
    font-weight: 700;
    color: $Green-500;
  }
  .old-price {
    color: $Grey;
    text-decoration: line-through;
    font-size: 0.75rem;
    margin-left: 20px;
  }
}

button {
  all: unset;
  background-color: $Green-500;
  color: $White;
  padding: 15px;
  border-radius: 8px;
  font-family: "Montserrat";
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

button:active:hover {
  background-color: $Green-700;
  transition: 0.3s;
}

// Responsive Design

@media (min-width: 768px) {
  .card {
    flex-direction: row;
    max-width: 550px;

    .details-section {
      width: 50%;
    }
    .image-section {
      width: 50%;
      img {
        border-radius: 10px 0 0 10px;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
} */
